.wrapper {
    padding: 20px;
}

.parent {
    border: 1px;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    border: 1px;
    padding: 1rem 1rem;
    vertical-align: middle;
}